Web Video Download API V3.json
{
  "name": "Web Video Download API V3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-download",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "131fedaf-badd-4d02-8c34-ddbe3b118563",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1296,
        2688
      ],
      "webhookId": "video-download-api"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst body = inputData.body || inputData;\n\n// Lấy URL từ request body\nlet videoUrl = body.url || body.videoUrl || '';\nlet platform = 'tiktok';\n\nif (!videoUrl) {\n  return [{\n    json: {\n      error: true,\n      message: '❌ Không có URL trong request'\n    }\n  }];\n}\n\n// Detect platform\nconst platformMap = {\n  'tiktok.com': 'tiktok',\n  'vt.tiktok.com': 'tiktok',\n  'vm.tiktok.com': 'tiktok',\n  'facebook.com': 'facebook',\n  'fb.watch': 'facebook',\n  'fb.com': 'facebook',\n  'm.facebook.com': 'facebook',\n  'instagram.com': 'instagram',\n  'instagr.am': 'instagram',\n  'youtube.com': 'youtube',\n  'youtu.be': 'youtube',\n  'm.youtube.com': 'youtube',\n  'twitter.com': 'twitter',\n  'x.com': 'twitter',\n  't.co': 'twitter',\n  'douyin.com': 'douyin',\n  'v.douyin.com': 'douyin',\n  'pinterest.com': 'pinterest',\n  'pin.it': 'pinterest',\n  'reddit.com': 'reddit',\n  'redd.it': 'reddit',\n  'sv.shopee.vn': 'shopee',\n  'shopee.vn': 'shopee',\n  'shopee.com.vn': 'shopee',\n  'vn.shp.ee': 'shopee',\n  'shp.ee': 'shopee'\n};\n\nconst urlLower = videoUrl.toLowerCase();\nfor (const [domain, platformName] of Object.entries(platformMap)) {\n  if (urlLower.includes(domain)) {\n    platform = platformName;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    videoUrl: videoUrl,\n    platform: platform\n  }\n}];"
      },
      "id": "a845c2af-eb4b-4ddc-a533-01b6e5bc26d7",
      "name": "Extract URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        2688
      ]
    },
    {
      "parameters": {
        "jsCode": "const videoUrl = $input.first().json.videoUrl;\nconst BASE = 'https://snapvie.com';\nconst hdrs = {\n  'Content-Type': 'application/json',\n  'Origin': BASE,\n  'Referer': BASE + '/',\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36'\n};\nlet ck = '';\n\nasync function req(url, method, body) {\n  const h = { ...hdrs };\n  if (ck) h['Cookie'] = ck;\n  const o = { url, method, headers: h, returnFullResponse: true, ignoreHttpStatusErrors: true };\n  if (body) o.body = body;\n  const r = await this.helpers.httpRequest(o);\n  const sc = r.headers && r.headers['set-cookie'];\n  if (sc) {\n    const a = Array.isArray(sc) ? sc : [sc];\n    const n = a.map(c => c.split(';')[0]).join('; ');\n    ck = ck ? ck + '; ' + n : n;\n  }\n  const d = r.body !== undefined ? r.body : r;\n  return typeof d === 'string' ? JSON.parse(d) : d;\n}\n\ntry {\n  const ext = await req.call(this, BASE + '/api/proxy/extract', 'POST', { url: videoUrl, bypass_cache: false });\n  const meta = ext.metadata || {};\n  const title = meta.title || ext.title || 'YouTube Video';\n  const thumb = meta.thumbnail || ext.thumbnail || '';\n\n  let fmts = ext.formats || meta.formats || [];\n  if (!fmts.length && meta.requested_formats) fmts = meta.requested_formats;\n  if (!fmts.length) {\n    const debugInfo = JSON.stringify(ext, null, 0).substring(0, 500);\n    throw new Error('NO_FORMATS|' + debugInfo);\n  }\n\n  // Prioritize MP4 video to avoid container mismatch\n  const allVids = fmts.filter(f => !f.is_audio_only && f.height);\n  allVids.sort((a, b) => (b.height || 0) - (a.height || 0));\n  // Try MP4 first, then WebM\n  let bv = allVids.find(f => f.ext === 'mp4');\n  if (!bv) bv = allVids[0];\n  if (!bv) throw new Error('No video format in ' + fmts.length + ' formats');\n\n  // Match audio container to video container\n  let ba;\n  if (bv.ext === 'webm') {\n    ba = fmts.find(f => f.is_audio_only && (f.ext === 'webm' || f.acodec === 'opus'));\n  }\n  if (!ba) ba = fmts.find(f => f.is_audio_only && f.ext === 'm4a');\n  if (!ba) ba = fmts.find(f => f.is_audio_only);\n\n  const prep = await req.call(this, BASE + '/api/proxy/downloads/prepare', 'POST', {\n    title, source_url: videoUrl,\n    video_url: bv.url, video_ext: bv.ext || 'mp4',\n    video_format_id: String(bv.format_id),\n    video_has_audio: false, video_is_audio_only: false,\n    audio_url: ba ? ba.url : '', audio_ext: ba ? (ba.ext || 'm4a') : '',\n    audio_format_id: ba ? String(ba.format_id) : '',\n    audio_has_audio: true, audio_is_audio_only: true\n  });\n  if (!prep.job_id) throw new Error('Prepare fail: ' + JSON.stringify(prep));\n\n  const tp = (prep.file_ticket_url || '/api/mux-jobs/' + prep.job_id + '/file-ticket').replace('/api/', '/api/proxy/');\n  let dl = null;\n  for (let i = 0; i < 6; i++) {\n    if (i > 0) await new Promise(r => setTimeout(r, 5000));\n    try {\n      const t = await req.call(this, BASE + tp, 'GET', undefined);\n      if (t.download_url) { dl = t.download_url; break; }\n    } catch(e) {}\n  }\n  if (!dl) throw new Error('No download URL after 30s. Cookies: ' + ck);\n\n  return [{ json: { error: false, downloadUrl: dl, title, quality: (bv.height || '?') + 'p (Snapvie)', platform: 'youtube', thumbnail: thumb } }];\n} catch (e) {\n  return [{ json: { error: true, message: 'Snapvie: ' + e.message } }];\n}"
      },
      "id": "db8ca280-631c-46d7-926b-5730b2c0581c",
      "name": "Snapvie All-in-One",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        2528
      ]
    },
    {
      "parameters": {
        "url": "https://4anm.top/get_download_shopee.php",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "url",
              "value": "={{ $json.videoUrl }}"
            }
          ]
        }
      },
      "id": "85242443-b800-4000-865b-ac6e92901a89",
      "name": "Call Shopee API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1952,
        2288
      ]
    },
    {
      "parameters": {
        "url": "https://api.satoru.click/api/downallv2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.videoUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "328ce805-7760-4455-9ff0-b47ab0f4d496",
      "name": "Call Satoru V2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        2752
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\ntry {\n  // Parse data từ string thành object (Shopee API trả về data dạng string)\n  let data;\n  if (typeof response.data === 'string') {\n    data = JSON.parse(response.data);\n  } else {\n    data = response.data || response;\n  }\n\n  if (data.error === false && data.download_link && data.download_link.length > 0) {\n    return [{\n      json: {\n        error: false,\n        downloadUrl: data.download_link[0],\n        title: 'Shopee Video',\n        quality: 'HD',\n        platform: 'shopee',\n        thumbnail: ''\n      }\n    }];\n  }\n\n  throw new Error('Không tải được video Shopee');\n\n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: '❌ ' + error.message\n    }\n  }];\n}"
      },
      "id": "ff619d82-2fd1-44bb-abf6-5ab082d4cfce",
      "name": "Parse Shopee Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        2288
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\ntry {\n  if (response.success && response.data && response.data.attachment) {\n    const videoMedia = response.data.attachment.find(m => \n      m.type === 'Video' && m.url\n    );\n\n    if (!videoMedia) {\n      throw new Error('Không tìm thấy link download');\n    }\n\n    return [{\n      json: {\n        error: false,\n        downloadUrl: videoMedia.url,\n        title: response.data.title || 'Video',\n        quality: 'HD',\n        platform: $('Extract URL').item.json.platform,\n        author: response.data.author || '',\n        thumbnail: response.data.thumbnail || ''\n      }\n    }];\n  }\n\n  throw new Error('Không tìm thấy link download');\n\n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: '❌ ' + error.message\n    }\n  }];\n}"
      },
      "id": "d75f8301-3548-4d8c-874e-352644d4ead6",
      "name": "Parse Satoru Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        2752
      ]
    },
    {
      "parameters": {
        "url": "https://api.satoru.click/api/downall",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "url",
              "value": "={{ $('Extract URL').item.json.videoUrl }}"
            }
          ]
        }
      },
      "id": "1f9bd609-023c-4222-a32d-21ebe017cec8",
      "name": "Call Satoru V1 Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1952,
        2992
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\ntry {\n  if (response.success && response.data && response.data.attachment) {\n    const videoMedia = response.data.attachment.find(m => \n      m.type === 'Video' && m.url\n    );\n\n    if (!videoMedia) {\n      throw new Error('Không tìm thấy link download');\n    }\n\n    return [{\n      json: {\n        error: false,\n        downloadUrl: videoMedia.url,\n        title: response.data.title || 'Video',\n        quality: 'HD',\n        platform: $('Extract URL').item.json.platform,\n        author: response.data.author || '',\n        thumbnail: response.data.thumbnail || ''\n      }\n    }];\n  }\n\n  throw new Error('V1 Backup cũng thất bại - Không tìm thấy link download');\n\n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: '❌ ' + error.message\n    }\n  }];\n}"
      },
      "id": "56d70df2-5c8c-4e9d-832a-356ab022d8df",
      "name": "Parse V1 Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        2992
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "59e95225-2b0b-4bfb-9479-a96730bafdc7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3712,
        2736
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1296,
        2928
      ],
      "id": "df0439e3-34f5-4ce6-b3d4-e9059e9f2274",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "5308120970",
        "text": "=🚨 LỖI DOWNLOAD VIDEO\n\nURL: {{ $json.execution.error.context.request.qs.url }} Platform: {{ $json.execution.data.platform }} Node lỗi: {{ $json.execution.error.node.name }} Message: {{ $json.execution.error.description }} Thời gian: {{ $now.format('DD/MM/YYYY HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": true,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        2928
      ],
      "id": "6e795adc-baea-4803-b898-e507f663cbf3",
      "name": "Send a text message",
      "webhookId": "ac9e1ca5-ead9-4ba2-9dfd-b563e75f3826",
      "credentials": {
        "telegramApi": {
          "id": "mNZIJ9kTY0CRK4AA",
          "name": "Taivideo.io.vn"
        }
      }
    },
    {
      "parameters": {
        "content": "## Thông báo lỗi về Telegram",
        "height": 208,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        2864
      ],
      "id": "c779b4c5-e8e0-48e6-9729-bbf26a1a4e0f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Shopee Video**",
        "height": 224,
        "width": 160,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        2224
      ],
      "id": "291d0a23-ce14-43f1-89b7-ca31b6aca967",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Satoru V2 (Chính)**\ndownallv2 engine",
        "height": 208,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        2704
      ],
      "id": "3a9ee7b7-8369-457b-831b-d81d6d6e21eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Satoru V1 (Backup)**\nFallback khi V2 lỗi",
        "height": 128,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        2944
      ],
      "id": "9625260c-4ba6-42a6-a023-29639f49d794",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**YouTube Premium**\nSnapvie API (1080p+)",
        "height": 208,
        "width": 1564,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        2464
      ],
      "id": "128e8921-72d4-4029-b133-9a15a7b8ed3d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3328,
        2288
      ],
      "id": "5c799aa4-bd6e-4f76-8d9f-3b90e479660b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3344,
        2992
      ],
      "id": "8b038c9f-fab0-4aa8-980f-9753d1709229",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "shopee",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8dbfc8a6-7902-4ee5-81db-b1cf3502bdee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "shopee"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5f38b56-3c90-4a87-8455-9bb6a2e0e52a",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8480faec-6d88-4cfd-81f4-1baed1b802cd",
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "fixed_default_output",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Satoru v2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1712,
        2672
      ],
      "id": "59e037e7-5454-4783-bd91-dba7b6897d63",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snapvie All-in-One": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Shopee API": {
      "main": [
        [
          {
            "node": "Parse Shopee Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Shopee Response": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Satoru V2": {
      "main": [
        [
          {
            "node": "Parse Satoru Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Satoru V1 Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Satoru Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Satoru V1 Backup": {
      "main": [
        [
          {
            "node": "Parse V1 Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse V1 Response": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Shopee API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Snapvie All-in-One",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Satoru V2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66b34258-414c-43e1-a299-2d334eb9a6d7",
  "meta": {
    "instanceId": "e998c53fce0bdd89201ebc2db25ae5c1a5ff8cb3c0fad506042105770bfd7eb3"
  },
  "id": "cFxW736LmlsRFOhK",
  "tags": []
}